
# ignore build result from nix
result

# Ignore any gpg keys
*.asc

# Crush directory
.crush

# crypt
.git-crypt-key.b64

.oh-my-zsh/**
!.oh-my-zsh/custom/

.config/herdr/**
!.config/herdr/config.toml
